<div class="container">
        <div class="line one"></div>
        <div class="line two"></div>
        <div class="line three"></div>
        <div class="line four"></div>
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Главная</a></li>
            <li class="breadcrumb-item"><a href="#">Новости</a></li>
            <li class="breadcrumb-item"><a href="#">Заголовок одной новости</a></li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-lg-3 share-links">
            <h3>Поделиться</h3>
            <ul>
                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
        <div class="col-lg-3"></div>
        <article class="col-lg-6 col-12">
            <h2>ЗАГОЛОВОК ОДНОЙ ИЗ НОВСТЕЙ</h2>
            <figure>
                <img src="../image/main.png" alt="картинка новости">
            </figure>
            <div class="article-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                    architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
                    quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
                    aliquam quaerat voluptatem.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                    architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
                    quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
                    aliquam quaerat voluptatem.</p>
            </div>

        </article>
    </div>
    <div class="more-news">
        <h2>Больше интересных новостей</h2>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 news-block">
                <figure>
                    <img src="../image/news1.png" alt="первая новость">
                </figure>
                <article>
                    <h3>Заголовокпервой новости</h3>
                    <p>Несколько предложений, которые даютпредставление о содержании новости</p>
                    <p class="hide">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur culpa delectus deleniti distinctio doloribus labore nemo nisi quasi voluptates voluptatibus! Accusamus aspernatur dolore dolorem, ea earum et ipsam odio soluta!</p>
                    <a class="read-more" href="#">Читать далее</a>
                </article>
            </div>
            <div class="col-lg-4 col-md-6 col-12 news-block">
                <figure>
                    <img src="../image/news1.png" alt="первая новость">
                </figure>
                <article>
                    <h3>Заголовокпервой новости</h3>
                    <p>Несколько предложений, которые даютпредставление о содержании новости</p>
                    <p class="hide">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur culpa delectus deleniti distinctio doloribus labore nemo nisi quasi voluptates voluptatibus! Accusamus aspernatur dolore dolorem, ea earum et ipsam odio soluta!</p>
                    <a class="read-more" href="#">Читать далее</a>
                </article>
            </div>
            <div class="col-lg-4 col-md-6 col-12 news-block indent">
                <figure>
                    <img src="../image/news1.png" alt="первая новость">
                </figure>
                <article>
                    <h3>Заголовокпервой новости</h3>
                    <p>Несколько предложений, которые даютпредставление о содержании новости</p>
                    <p class="hide">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur culpa delectus deleniti distinctio doloribus labore nemo nisi quasi voluptates voluptatibus! Accusamus aspernatur dolore dolorem, ea earum et ipsam odio soluta!</p>
                    <a class="read-more" href="#">Читать далее</a>
                </article>
            </div>
        </div>

    </div>
</div>
