<header>
    <nav class="navbar navbar-expand-lg">
        <div class="logo">
            <a class="navbar-brand" href="#">
                <img src="image/logo.png" alt="">
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto menu">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Услуги <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">О нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Портфолио</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Заказать</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Контакты</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto pull-right phone">
                <li class="nav-item active">
                    <a class="nav-link" href="tel:0449685589">(044) 968 55 89</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle curret" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        рус
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">укр</a>
                        <a class="dropdown-item" href="#">англ</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>