footer {
  background-color: map_get($color-scheme, footer-color);
  font-family: 'ProximaNova-Reg', sans-serif;
  font-size: map_get($text-size, simple-text);
  color: map_get($color-scheme, main-content-color);
  .wrapper-footer-column {
    padding: 63px 0;
    .footer-column {
        padding: 0;

      @media(min-width: 992px) {
        height: 240px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding:0;
      }

      figure {
        img{
          width: 138px;
        }
      }

      ul {
        padding: 0;
        margin: 0;
        text-transform: uppercase;
        font-size: map_get($text-size, small-text);
        a {
          @include link(map_get($color-scheme, text-color), auto, 34px);
          &::after {
            @include after(16px, map_get($color-scheme, main-content-color));
          }
          &:hover {
            @include hoverafter(16px, map_get($color-scheme, main-content-color));
          }
        }
        li {
          list-style: none;
          padding: 4px 0;
        }
      }

      .copyright {
        a {
          @include link(map_get($color-scheme, text-color), auto, 34px);
          &::after {
            @include after(16px, map_get($color-scheme, main-content-color));
          }
          &:hover {
            @include hoverafter(16px, map_get($color-scheme, main-content-color));
          }
        }
      }

      .name {
        a {
          @include link(map_get($color-scheme, main-content-color), auto, 34px);
          &::after {
            @include after(22px, map_get($color-scheme, main-content-color));
          }
          &:hover {
            @include hoverafter(22px, map_get($color-scheme, main-content-color));
          }
        }
      }

      .copyright {
        align-self: flex-end;
        font-size: map_get($text-size, small-text);
        color: map_get($color-scheme, text-color);
      }

      .kost {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        align-self: flex-end;
        font-size: map_get($text-size, small-text);
        margin-bottom: -8px;
        p {
          margin: 0;
          a {
            @include link(map_get($color-scheme, text-color), auto, 34px);
            &::after {
              @include after(16px, map_get($color-scheme, main-content-color));
            }
            &:hover {
              @include hoverafter(16px, map_get($color-scheme, main-content-color));
            }
          }
        }
      }

      .contacts,
      .mails,
      .footer-icons {
        text-transform: unset;
      }

      .mails,
      .footer-icons {
        display: flex;
        flex-flow: row wrap;
      }

      .footer-icons {
        li {
          margin: 4px;
          &:hover {
            i {
              background-color: map_get($color-scheme, header-color);
              color: map_get($color-scheme, main-content-color);
            }
          }

        }
        a {
          border: 0;
        }
        i {
          height: 25px;
          width: 25px;
          background-color: map_get($color-scheme, main-content-color);
          color: map_get($color-scheme, footer-color);
          border-radius: 50%;
          display: flex;
          flex-flow: column;
          align-items: center;
          justify-content: center;
          transition: 0.3s ease;
        }

      }
      .footer-button {
        display: flex;
        flex-flow: column nowrap;
        @media (min-width: 768px) {
        flex-flow: row nowrap;
        }
        .btn {
          perspective: 1000px;
          span {
            padding: 8px;
            position: relative;
            display: inline-block;
            background: map_get($color-scheme, footer-color);
            border: 1px solid map_get($color-scheme, main-content-color);
            color: map_get($color-scheme, main-content-color);
            transform-origin: 50% 0 0;
            transform-style: preserve-3d;
            text-transform: uppercase;
            transform: rotateX(0deg) translateY(0);
            transition: transform 250ms ease, background 250ms ease;
            &:before {
              position: absolute;
              content: attr(data-hover);
              top: 100%;
              left: 0;
              border: 1px solid map_get($color-scheme, main-content-color);
              padding: 8px;
              transform-origin: 50% 0 0;
              transform: rotateX(-90deg) translateY(0);
              transition: transform 250ms ease, background 250ms ease;
            }
          }
          &:hover {
            span {
              transform: rotateX(90deg) translateY(-2.2em);
              &:before {
                background: map_get($color-scheme, header-color);
              }
            }
          }
        }
      }
    }
  }
}