header {
  background-color: map_get($color-scheme, header-color);
  font-family: 'FuturaPT-Demi', sans-serif;
  font-size: map_get($text-size, simple-text);
  .menu {
    @media (min-width: 992px) {
      width: 570px;
    }
  }
  nav {
    max-width: 1170px;
    height: 60px;
    background-color: map_get($color-scheme, header-color);
    .logo {
      @media (min-width: 992px) {
        padding: 0 15px;
        width: 293px;
      }
    }
    .phone {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      @media (min-width: 992px) {
        width: 307px;
      }
    }
    ul {
      li {
        .nav-link {
          color: map_get($color-scheme, main-content-color);
          width: auto;
          height: 34px;
          letter-spacing: 0.1em;
          text-align: center;
          font-size: 0.8rem;
          margin: 10px;
          position: relative;
          border: 2px solid transparent;

          &::after {
            width: 0%;
            height: 2px;
            display: block;
            background-color: map_get($color-scheme, main-content-color);
            content: " ";
            position: absolute;
            top: 34px;
            left: 50%;
            transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
          }

          &:hover {
            &::after {
              width: 100%;
              height: 2px;
              display: block;
              background-color: map_get($color-scheme, main-content-color);
              content: " ";
              position: absolute;
              top: 34px;
              left: 0;
            }
          }
        }
        .curret {
          &::after {
            background-color: transparent;
            border-right: 0;
            border-left: 0;
          }
        }
      }
    }

  }

}