header {
  background-color: map_get($color-scheme, header-color);
  font-family: 'FuturaPT-Demi', sans-serif;
  font-size: map_get($text-size, simple-text);

  .navbar-collapse {
    width: 100%;
  }

  .navbar {
    @media (min-width: 992px) {
      padding: 0;
    }

    .navbar-toggler {
      border: 1px solid #fff;
    }

  }
  nav {
    min-height: 60px;
    background-color: map_get($color-scheme, header-color);

    .menu {
      @media (min-width: 992px) {
        width: 64%;
      }
    }
    .logo {
      @media (min-width: 992px) {
        width: 35%;
      }
    }
    .phone {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      @media (min-width: 992px) {
        width: 36%;
      }
    }
    ul {
      li {
        .nav-link {
          @include link( map_get($color-scheme, main-content-color), auto, 100%);
          &::after {
            @include after(100%, map_get($color-scheme, main-content-color));
          }

          &:hover {
            @include hoverafter(100%, map_get($color-scheme, main-content-color));
          }
        }
        .curret {
          &::after {
            background-color: transparent;
            border-right: 0;
            border-left: 0;
          }
        }
      }
    }

  }

}